<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container2',
                type: 'line',
                marginRight: 130,
                marginBottom: 25,
                plotBackgroundColor: "whiteSmoke"
            },
            title: {
                text: 'Interests Over Time',
                x: -20 //center
            },
            xAxis: {
                categories: ['2007', '2008', '2009', '2010', '2011', '2012']
            },
            yAxis: {
                title: {
                    text: '%'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        this.x +': '+ this.y +'°C';
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0,
                backgroundColor : "whiteSmoke"
            },
            series: [{
                name: 'Comedy',
                data: [18.2, 40, 25.2, 33.5, 50.1, 55.11]
            }, {
                name: 'Movies',
                data: [ 12.33,22.0, 24.8, 24.1, 20.1, 21.63]
            }, {
                name: 'Music',
                data: [ 13.5, 17.0, 18.6, 9.0, 3.9, 11.94]
            }, {
                name: 'Reality TV',
                data: [3.9, 14.2, 10.3, 6.6,6.6, 7.15]
            }]
        });
    });
   	$("#highcharts-0").find("rect:nth-child(2)").first().attr("fill","whiteSmoke");
	  $("#highcharts-2").find("rect:nth-child(2)").first().attr("fill","whiteSmoke"); 
});

  var options = {
    textColour: '#08C',
    textHeight: 40,
    depth: 0.99,
    stretchX: 6,
    minSpeed: 0.002,
    maxSpeed: 0.005,
    initial: [0.6,-0.3],
    weight: true
  };
  window.onload = function() {
    try {
      TagCanvas.Start('myCanvas', '', options);
    } catch(e) {
      // something went wrong, hide the canvas container
      document.getElementById('myCanvasContainer').style.display = 'none';
    }
  };

  function showModal(id){
  	$('#'+id).modal('show');
  }

  function hideModal(id){
  	$('#'+id).modal('hide');
  }
 </script>

<!-- Modal -->
<div class="modal hide fade" id="twitter_modal" style="height:240px;">
  <div class="modal-header">
    <h3>Share your Beancounter page on Twitter</h3>
  </div>
  <div class="modal-body">
    <textarea style="width:510px; height:100px;"></textarea>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" onclick="hideModal('twitter_modal')">Close</a>
    <%#TODO Da sistemare il messaggio%>
    <%= link_to 'Pubblica su Twitter', user_twitter_publish_path(:message => ""), :class => 'btn btn-primary'%>
  </div>
</div>

<div class="modal hide fade" id="facebook_modal" style="height:240px;">
  <div class="modal-header">
    <h3>Share your Beancounter page on Facebook</h3>
  </div>
  <div class="modal-body">
    <textarea style="width:510px; height:100px;"></textarea>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" onclick="hideModal('facebook_modal')">Close</a>
    <%= link_to 'Pubblica su Facebook', user_facebook_publish_path(:message => ""), :class => 'btn btn-primary'%>
  </div>
</div>
<!-- end modal -->

<div class="span15 clearfix" style="margin-bottom:30px;"><h1 style="margin-bottom:10px;">Ciao <%= current_user.name %></h1>
  <% if current_user.provider?("twitter")%>
    <a href="#" role="button" onclick="showModal('twitter_modal')"><%=image_tag "twitter_share.png", :class => "share_image"%></a>
  <% else %>
    ^
    <a href="http://api.beancounter.io/rest/user/oauth/token/twitter/<%=current_user.username%>?redirect=<%=REDIRECT_PATH%>/users" role="button"><%=image_tag "twitter_share.png", :class => "share_image"%></a>
  <% end %>
  <% if current_user.provider?("facebook")%>
    <a href="#" role="button" onclick="showModal('facebook_modal')"><%=image_tag "facebook_share.png", :class => "share_image"%></a>
  <% else %>
    ^
    <a href="http://api.beancounter.io/rest/user/oauth/token/facebook/<%=current_user.username%>?redirect=<%=REDIRECT_PATH%>/users" role="button"><%=image_tag "facebook_share.png", :class => "share_image"%></a>
  <% end %>
</div>

<div class="span15 clearfix" style="margin-bottom:10px;"><h3>Questo è il tuo tag interessi:</h3></div>

<div class="span15 clearfix" style="margin-bottom:30px" id="myCanvasContainer">
 <canvas width="1300" height="200" id="myCanvas">
  <p>Anything in here will be replaced on browsers that support the canvas element</p>
  <ul>
	<li><a href="#" data-weight="14" style="font-size: 2.83ex">1000</a></li>
	<li><a href="#" data-weight="18" style="font-size: 3.61ex">background</a></li>
	<li><a href="#" data-weight="40" style="font-size: 9.64ex">canvas</a></li>
	<li><a href="#" data-weight="22" style="font-size: 4.47ex">chart</a></li>
	<li><a href="#" data-weight="18" style="font-size: 3.46ex">charts</a></li>
	<li><a href="#" data-weight="60" style="font-size: 12.32ex">cloud</a></li>
	<li><a href="#" data-weight="18" style="font-size: 3.74ex">clouds</a></li>
	<li><a href="#" data-weight="17" style="font-size: 3.16ex">example</a></li>
	<li><a href="#" data-weight="18" style="font-size: 3.74ex">goat</a></li>
	<li><a href="#" data-weight="17" style="font-size: 3.16ex">goat1000</a></li>
	<li><a href="#" data-weight="30" style="font-size: 8.36ex">graph</a></li>
	<li><a href="#" data-weight="21" style="font-size: 4.36ex">graphs</a></li>
	<li><a href="#" data-weight="17" style="font-size: 3.32ex">html</a></li>
	<li><a href="#" data-weight="50" style="font-size: 10.68ex">html5</a></li>
	<li><a href="#" data-weight="23" style="font-size: 4.69ex">image</a></li>
	<li><a href="#" data-weight="24" style="font-size: 4.8ex">javascript</a></li>
	<li><a href="#" data-weight="26" style="font-size: 5.47ex">jpeg</a></li>
	<li><a href="#" data-weight="13" style="font-size: 2.65ex">jpegsaver</a></li>
	<li><a href="#" data-weight="32" style="font-size: 8.77ex">jquery</a></li>
	<li><a href="#" data-weight="13" style="font-size: 2.65ex">lib</a></li>
	<li><a href="#" data-weight="27" style="font-size: 5.92ex">library</a></li>
	<li><a href="#" data-weight="17" style="font-size: 3.32ex">link</a></li>
	<li><a href="#" data-weight="65" style="font-size: 13.23ex">php</a></li>
	<li><a href="#" data-weight="14" style="font-size: 2.83ex">plugin</a></li>
	<li><a href="#" data-weight="22" style="font-size: 4.58ex">saver</a></li>
	<li><a href="#" data-weight="17" style="font-size: 3.32ex">screensaver</a></li>
	<li><a href="#" data-weight="13" style="font-size: 2.65ex">script</a></li>
	<li><a href="#" data-weight="65" style="font-size: 13ex">svg</a></li>
	<li><a href="#" data-weight="21" style="font-size: 4.47ex">svggraph</a></li>
	<li><a href="#" data-weight="62" style="font-size: 12.44ex">tag</a></li>
	<li><a href="#" data-weight="13" style="font-size: 2.65ex">tagcanvas</a></li>
	<li><a href="#" data-weight="17" style="font-size: 3.46ex">tagcloud</a></li>
	<li><a href="#" data-weight="13" style="font-size: 2.65ex">text</a></li>
	<li><a href="#" data-weight="17" style="font-size: 10.16ex">word</a></li>
  </ul>
 </canvas>
</div>

<div id="container2" class="span10 clearfix well" style="width: 1300px; height: 400px; margin-top: 10px;"></div>
