<%= javascript_include_tag 'bootstrap-popover', 'bootstrap-tooltip' %>
<style>
  .popover{
    width: 59%;
    margin-left: 26px!important;
  }

  .insertType {
    padding-top: 17px;
    font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
    color: #0D4383;
    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
  }
</style>

<script type="text/javascript">
  window.onload = function() {
    try {
      TagCanvas.Start('myCanvas','',{
        textColour: '#08C',
        depth: 0.99,
        stretchX: 6,
        minSpeed: 0.002,
        maxSpeed: 0.010,
        initial: [0.6,-0.3],
        weight: true,
      });
    } catch(e) {
      // something went wrong, hide the canvas container
      document.getElementById('myCanvasContainer').style.display = 'none';
    }
  };
</script>

<script type="text/javascript">
$(function () {
  $("a.popclass").live("mouseover", function(){ 
    $("a.popclass").popover('destroy');
    $(this).popover('show');
    i = $(this).parent().parent().attr("id");
    $(".popover").css("top",$(".tab-content").position().top);
    $(".arrow").css("top", ((i*6)+1)+"%");
  });

  $('#activityTab a').click(function (e) {
    e.preventDefault();
    $("a.popclass").popover('destroy');
    $(this).tab('show');
  });
});

function showModal(id){
  $('#'+id).modal('show');
}

function hideModal(id){
  $('#'+id).modal('hide');
}

</script>
<!-- Modal -->
<div class="modal hide fade" id="twitter_modal" style="height:240px;">
  <div class="modal-header">
    <h3>Share your Beancounter page on Twitter</h3>
  </div>
  <div class="modal-body">
    <textarea style="width:510px; height:100px;"></textarea>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" onclick="hideModal('twitter_modal')">Close</a>
    <%#TODO Da sistemare il messaggio%>
    <%= link_to 'Pubblica su Twitter', user_twitter_publish_path(:message => ""), :class => 'btn btn-primary'%>
  </div>
</div>

<div class="modal hide fade" id="facebook_modal" style="height:240px;">
  <div class="modal-header">
    <h3>Share your Beancounter page on Facebook</h3>
  </div>
  <div class="modal-body">
    <textarea style="width:510px; height:100px;"></textarea>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" onclick="hideModal('facebook_modal')">Close</a>
    <%= link_to 'Pubblica su Facebook', user_facebook_publish_path(:message => ""), :class => 'btn btn-primary'%>
  </div>
</div>
<!-- end modal -->

<div class="span15 clearfix" style="margin-bottom:30px;"><h1 class="insertType" style="margin-bottom:10px; font-size:40px;">Hi <%= current_user.name %>!
  <% if current_user.provider?(:twitter)%>
    <a href="#" role="button" onclick="showModal('twitter_modal')"><%=image_tag "twitter_share.png", :class => "share_image"%></a>
  <% else %>
    <a href="http://194.116.82.81:8080/beancounter-platform/rest/user/oauth/token/twitter/<%=current_user.username%>?redirect=<%=REDIRECT_PATH%>/users" role="button"><%=image_tag "twitter_share.png", :class => "share_image"%></a>
  <% end %>
  <% if current_user.provider?(:facebook)%>
    <a href="#" role="button" onclick="showModal('facebook_modal')"><%=image_tag "facebook_share.png", :class => "share_image"%></a>
  <% else %>
    <a href="http://194.116.82.81:8080/beancounter-platform/rest/user/oauth/token/facebook/<%=current_user.username%>?redirect=<%=REDIRECT_PATH%>/users" role="button"><%=image_tag "facebook_share.png", :class => "share_image"%></a>
  <% end %></h1>
</div>

<div class="span15 clearfix" style="margin-bottom:10px;"><h3 class="insertType" style="font-size:30px;">your interests, at a glance...</h3></div>

<div class="span15 clearfix" style="margin-bottom:30px" id="myCanvasContainer">
  <canvas width="1300" height="300" id="myCanvas">
    <p>Anything in here will be replaced on browsers that support the canvas element</p>
    <ul>
      <%@interests.each do |interest|%>
        <%if interest["weight"]*100 < 10
          weight = 10
        elsif interest["weight"]*100 > 20
          weight = 20
        else
          weight = interest["weight"]*100
        end%>
        <li><a href="<%=interest['resource']%>" targer="_blank" style="font-size:<%=weight%>ex;"><%= interest["label"] %></a></li>
      <% end %>
    </ul>
  </canvas>
</div>

<div class="span10 cleafix">
<ul class="nav nav-tabs" id="activityTab">
 <li class="active">
   <a href="#interests" data-toggle="tab">Interests</a>
 </li>
 <li>
   <a href="#categories" data-toggle="tab">Categories</a>
 </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="interests">
    <div id="customers_table" class="span5 clearfix">
      <% if !@interests.empty? %>
        <table class="table table-striped table-bordered table-condensed">
          <thead>
            <tr> 
              <th>Interest</th>
              <th>Weight</th>
            </tr>
          </thead>

          <tbody>
            <%@interests.reverse.each_with_index do |interest, i|%>
              <tr id="<%=i+1%>">
                <td><%=interest["label"]%></td>
                <td><%=interest["weight"]*100%></td>
                <td>
                  <a href="#" class="popclass btn btn-primary" rel="popover" 
                    data-content='
                    <div class="span8 clearfix">
                      <iframe src="http://api.jquery.com/" width="100%" height="600" id="frameDemo"></iframe>
                      <script>
                        $("#frameDemo").contents().find("a").css("background-color","#BADA55");
                      </script>
                    </div>' 
                    data-original-title="<%=interest['label']%><button style='float:right;' type='button' class='btn btn-inverse'>Black List</button>">
                    Detail
                  </a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        Sorry we're still computing your profile, good things take time
      <% end %>
    </div>
  </div>
  <div class="tab-pane" id="categories">
    <div class="span5 clearfix">
      <% if !@categories.empty? %>
        <table class="table table-striped table-bordered table-condensed">
          <thead>
            <tr> 
              <th>Category</th>
              <th>Weight</th>
            </tr>
          </thead>

          <tbody>
            <%@categories.reverse.each_with_index do |category, i|%>
              <tr id="<%=i+1%>">
                <td><%=category["label"]%></td>
                <td><%=category["weight"]*100%></td>
                <td>
                  <a href="#" class="popclass btn btn-primary" rel="popover" data-content='
                    <div class="span5 clearfix">
                      <iframe src="http://api.jquery.com/" width="100%" height="600" id="frameDemo"></iframe>
                      <script>
                        $("#frameDemo").contents().find("a").css("background-color","#BADA55");
                      </script>
                    </div>'
                    data-original-title="<%=category['label']%><button style='float:right;' type='button' class='btn btn-inverse'>Black List</button>">
                    Detail
                  </a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        Sorry we're still computing your profile, good things take time
      <% end %>
    </div>
  </div>
</div>
</div>
